body {
  padding: 0;
  margin: 0;
}

#board {
  /* todo: make board smaller */
  background-image: url("/images/board-background.jpg");
  background-size: cover;
  height: 100vh;
}

.player {
  position: absolute;
  background-image: url("/images/skier-turn-left.svg");
  /* todo: resize player ! */
  
  
}

.obstacle {
  /*todo: replace with tree or so*/
  /*background-color: rgb(141, 8, 8);*/
  background-image: url("/images/tree.svg");
  position: absolute;
}

.goodie {
  /*background-color: rgb(27, 196, 145);*/
  background-image: url("/images/logo_iron_ski.png");
  position: absolute;
}

.score {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 50px;
    font-weight: 600;

}