@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  background-image: linear-gradient(
    340deg,
    #000000 0%,
    #2a1839 50%,
    #550d62 100%
  );
  font-family: "Press Start 2P";
  font-size: 11px
}

h1 {
  font-size: 4em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
}

#main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background-image: url("../images/board-background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 70vw;
  position: relative;
  /*z-index: 5;*/
}

.player {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/thunder-car.png");
  
}

.obstacle {
  background-image: url("../images/obstacle-red.png");
  position: absolute;
  background-size: 3vw;
  background-repeat: no-repeat;
}

.goodie {
  background-image: url("../images/obstacle-green.png");
  position: absolute;
  background-size: 3vw;
  background-repeat: no-repeat;
}

.score {
  text-align: center;
  font-size: 2.7em;
  font-weight: 600;
  color: rgb(0, 255, 255);
}

.level {
  text-align: center;
  padding-top: 10px;
  font-size: 2.2em;
  font-weight: 600;
  color: rgb(231, 23, 238);
}

#game-over {
  align-items: center;
  justify-content: center; */
  display: none;
}

#game-over p {
  color: white;
  font-size: 30px;
  text-align: center;;
  text-transform: uppercase;
  
}

#game-over button {
  background-image: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 15px 30px;
  border-radius: 12px;
}
